.map{
  touch-action:none !important; 
  
}

body{
  overflow-x: hidden;
}

.img{
  background-image: url("./images/desk.jpg");
  height: 40vh;
}

.tag{
  background: white !important;
  border-color:rgb(94, 88, 79);
  color: rgb(80, 74, 67);
  font-weight: 500;
  
}

.tag:hover{
  color: wheat !important;
  border-color: rgb(94, 88, 79) !important;
  background: rgb(94, 88, 79) !important;
}



@media screen and (max-width: 768px) {
  .img{
    background-image: url("./images/desk.jpg");
    height: 20vh;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }
  .scrol{
    overflow-x:scroll !important;
    
  }

   .img2{
    height: 100px !important;
  } 

  .form{
    width: 80vw !important;
  }
  .spinner{
    height: 100px !important;
  }
  
}

@media screen and (min-width: 700px) {
  .img{
    background-image: url("./images/desk.jpg");
    height: 40vh;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }

  .search{
    width: 70%;

  }
  .scrol{
    width: 100vw !important;
  }
   .img2{
    height:  150px !important;
    
  } 
  .spinner{
    height: 150px !important;
  }

}

